@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500;1,600&display=swap');

body {
    background-image: url("/assets/images/background.jpeg");
}

#rules {
    margin-top: 30px;
}

#game-panel {
    padding-bottom: 70px;
}

#game-panel, #end-game {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    background-repeat: no-repeat;
    background-position: center;
    background:url(/assets/images/game-panel-bkg.jpeg) rgba(255, 0, 150, 0.3);
    background-size:cover;
    background-blend-mode: multiply;
}

h1, h2, p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0;
}

h1, h2 {
    font-size: 190%;
    padding: 30px;
    text-decoration: solid 1px black;
    font-weight: 700;
}

p {
    font-size: 110%;
    font-weight: 400;
    padding: 25px;
    padding-top: 0;
}

/* Answers container */

.answers-container {
    display: flex;
    flex-direction: column;
}

.answers-container > p {
    width: 60%;
    border: 2px solid gold;
    background-color: lightblue;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    background: rgba(25, 123, 235, 0.6);
}

.answers-container > p:hover {
    background-color: cornflowerblue;
}

.answers-container > p.correct-answer {
    background: rgba(50, 240, 97, 0.6);
}

.answers-container > p.wrong-answer {
    background: rgba(245, 78, 49, 0.6);
}

/* Question counter */


#next-btn {
    background: rgba(25, 123, 235, 0.356);
    border-radius: 15px;
    border: 2px solid gold;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 90%;
    color: #ffffff;
    padding: 10px;
    margin: 7% 10% 10% 65%;

}

#next-btn:hover {
    background-color: cornflowerblue;
}

/* Start button */

#start-btn {
    background: rgba(25, 123, 235, 0.356);
    border-radius: 15px;
    border: 2px solid gold;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 150%;
    color: #ffffff;
    margin: 0 auto;
    /* margin: 5% 39% 12% 39%; */
}

#start-btn:hover {
    background-color: cornflowerblue;
}



#end-game {
    background-image: url("/assets/images/game-panel-bkg.jpeg");
    justify-content: center;
}

#end-text {
    color:white;
    text-transform: uppercase;
    margin: 20%;
}

.restart {
   padding: 10px;
}

