@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500;1,600&display=swap');

body {
    background-image: url("/assets/images/background.jpeg");
}

#rules {
    margin-top: 30px;
}

#game-panel {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    background-image: url("/assets/images/game-panel-bkg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 190%;
    padding: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 700;
}

p {
    font-size: 110%;
    font-weight: 400;
    padding: 25px;
    padding-top: 0;
}

/* Answers container */

.answers-container {
    display: flex;
    flex-direction: column;
}

.answers-container > p {
    width: 60%;
    border: 2px solid gold;
    background-color: lightblue;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    background: rgba(25, 123, 235, 0.6);
}

.answers-container > p:hover {
    background-color: cornflowerblue;
}

.answers-container > p.correct-answer {
    background: rgba(50, 240, 97, 0.6);
}

/* Question counter */

#q-counter {
    padding-top: 30px;
    
}

#next-btn {
    background: rgba(25, 123, 235, 0.356);
    border-radius: 15px;
    border: 2px solid gold;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 90%;
    color: #ffffff;

}

#next-btn:hover {
    background-color: cornflowerblue;
}

/* Start button */

#start-btn {
    background: rgba(25, 123, 235, 0.356);
    border-radius: 15px;
    border: 2px solid gold;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 150%;
    color: #ffffff;
    margin: 5% 39% 12% 39%;
}

#start-btn:hover {
    background-color: cornflowerblue;
}

#start-btn p {
  
}


